body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#logo {
	overflow: hidden;
}

#contenedorIndex {
    margin: 0 auto;
    width: 85%;
    margin-top: 20%;
}

#contenidoIndex {
	margin-top: 1%;
    margin-bottom: 4%;
}

#contenidoIndex img {
	width: 100%;
	height: auto;
}

#contenedor {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
    height: auto;
}

#logoInt,
#menu,
#pie,
#pieHome,
#pieQuienes,
.bulletWhite,
#piePorfolio {
	display: none;
}

#contenedorImagen img,
#quienesFoto img {
	width: 100%;
	height: auto;
}

.contenidoInternoTurqueza .titulo,
.mobile .titulo,
.contenidoInterno .titulo,
.contenidoInternoQuienes .tituloquienes,
.contenidoInternoAmarillo .titulo,
.contenidoInternoRosa .titulo,
.contenidoInternoCeleste .titulo,
.contenidoInternoVerde .tituloContacto,
#contenido .subtitulo {
	position: absolute;
	height: 30px;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	top: 0px;
	left: 0px;
	padding: 5px;
	padding-left: 30px;
	color: #fff;
}

#contenido .subtitulo {
	top: 40px;
	display: block;
	font-family: GothamRnd-Medium,helvetica,verdana,arial,sans-serif;
	font-size: 26px;
}

.contenidoInternoTurqueza .titulo,
.contenidoInternoTurqueza .subtitulo {
	background-color: #49A6DC;
}

.contenidoInterno .titulo,
.contenidoInterno .subtitulo {
	background-color: #F1592B;
}

.contenidoInternoQuienes .tituloquienes {
	background-color: #6AC6AE;
}

.contenidoInternoAmarillo .titulo,
.contenidoInternoAmarillo .subtitulo {
	background-color: #92278F;
}

.contenidoInternoRosa .titulo,
.contenidoInternoRosa .subtitulo {
	background-color: #EE3672;
}

.contenidoInternoCeleste .titulo,
.contenidoInternoCeleste .subtitulo {
	background-color: #6AC6AE;
}

.contenidoInternoVerde .tituloContacto {
	background-color: #8DC640;
}

.mobile .titulo,
#contenido #titulo-principal {
	background-color: #4b4b4b;
}

#contenido #titulo-principal .resaltadoGris {
	color: #fff;
}

#contenido #titulo-principal .noResaltado {
	display: none;
}

.contenidoInternoTurqueza,
.contenidoInterno,
.contenidoInternoQuienes,
.contenidoInternoAmarillo,
.contenidoInternoRosa,
.contenidoInternoCeleste,
.contenidoInternoVerde {
	background: none;
	top: 0px;
}

.descripcionComo,
.descripcion {
	text-align: left;
	width: 80%;
	margin: 0px;
}

.descripcionTexto {
	color: #000;
	padding-left: 10%;
	padding-bottom: 50px;
	padding-right: 10%;
	padding-top: 2%;
}

.descripcionQuienes {
	text-align: left;
	width: 80%;
	margin: 0px;
	color: #000;
	padding-left: 10%;
	padding-bottom: 10%;
	padding-right: 10%;
	padding-top: 2%;
	height: 60%;
	overflow-y: auto;
}


.contenidoInterno, 
.contenidoInternoTurqueza, 
.contenidoInternoAmarillo, 
.contenidoInternoRosa, 
.contenidoInternoCeleste {
	position: static;
	width: 100%;
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	margin-top: 30px;
}

.contenidoInternoVerde {
	position: inherit;
	display: table;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	margin-top: 35px;
}


#contenido,
.contenidoInternoQuienes {
	position: inherit;
	padding-top: 35px;
	width: 100%;
	height: auto;
}

#contenedorImagen,
#quienesFoto,
#contenedorImagen img,
#quienesFoto img {
	height: auto;
	width: 100%;
}

#quienesFoto {
	position: inherit;
    right: auto;
    top: auto;
}

#quienesFoto img {
	width: 130%;
	margin-left: -15%;
}

.resaltado {
	color: #000;
}

.close-link {
	display: block;
	position: absolute;
	height: 30px;
	top: 5px;
	right: 20px;
	z-index: 200;
}

.close-link a {
	font-family: GothamRnd-Medium,helvetica,verdana,arial,sans-serif;
	font-size: 26px;
	text-decoration: none;
	color: #fff;
}

#contenidoHome {
/*	width: auto;
	height: 360px;
	z-index: -1;*/
	visibility:hidden;
}

.mobile {
	display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.menuHomeMobile {
	position: absolute;
	top: 50px;
	width: 100%;
	left: 0px;
}

.menu-item {
	padding-left: 30px;
	padding-right: 30px;
	text-align: right;
	border-bottom: 1px solid #bfbfbf;
	height: 32px;
}

.menu-item:last-child {
	border-bottom: 0px;
}

.menu-item a {
	font-family: GothamRnd-Medium,helvetica,verdana,arial,sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: #000;
}

#slideShowImages {
	margin-top: 0px;
}

.descripcion ul li {
	background-image: url("../images/bullets-gray.png")
}

#contenidosinFondo {
	height: auto;
}

.columnaInz,
.columnaDer,
.columna {
	float: none;
	clear: both;
	width: 100%;
	height: auto;
	margin: 0px;
	position: relative;
	    height: 30px;
}

.columnaInz a,
.columnaDer a,
.columna a {
	position: absolute;
	top: 12px;
	right: 0px;
}

.columnaInz a .nombreLink,
.columnaDer a .nombreLink,
.columna a .nombreLink {
	display: none;
}

.columna {
	padding-bottom: 20px;
}

.galeria img {
	float: none;
	margin-right: 0px;
	margin-bottom: 5px;
}

.scroll {
	overflow-x: hidden;
	overflow-y: auto;
	margin-top: 40px;
}

.contenidoInternoVerde .descripcionQuienes {
	position: relative;
}

.contenidoInternoVerde .descripcionQuienes .columnaInz,
.contenidoInternoVerde .descripcionQuienes .columnaDer {
	width: 80%;
}

.contenidoInternoVerde .descripcionQuienes form {
    margin: 0 auto;
    width: 100%;
}

.contenidoInternoVerde .descripcionQuienes form label {
    display: inline;
}


.contenidoInternoVerde .descripcionQuienes form input, 
.contenidoInternoVerde .descripcionQuienes form textarea {
    border: 1px solid #ccc;
    color: #666666;
    font-family: GothamRnd-Light,helvetica,verdana,arial,sans-serif;
    font-size: 10px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.contenidoInternoVerde .descripcionQuienes .columnaDer {
	position: relative;
}

.contenidoInternoVerde .descripcionQuienes .columnaDer .link-linkedin,
.contenidoInternoVerde .descripcionQuienes .columnaDer .link-facebook {
	display: block;
    line-height: 14px;
    margin: 0;
    padding: 14px;
    position: absolute;
    top: 16px;
}

.contenidoInternoVerde .descripcionQuienes .columnaDer .link-linkedin {
	right: 20px;
	padding-left: 7px;
	padding-right: 7px;
}

.contenidoInternoVerde .descripcionQuienes .columnaDer .link-facebook {
	right: 0px;
	padding-left: 7px;
	padding-right: 7px;
}

#slideShowImages {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.contenidoContacto .contenidoInternoVerde .descripcionQuienes .columnaInz {
	min-height: 350px;
}

.mobileOcutar {
	visibility:hidden;

}

.columnaCentrada {
	font-family: GothamRnd-Bold, helvetica, verdana, arial, sans-serif;
	font-size: 14px;
	float:left;
	width: 90%;
	height: 200px;
	padding-left:80px;
}