body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#logo {
	overflow: hidden;
}

#contenedorIndex {
    margin: 0 auto;
    width: 85%;
    margin-top: 20%;
}

#contenidoIndex {
	margin-top: 1%;
    margin-bottom: 4%;
}

#contenidoIndex img {
	width: 100%;
}

#contenedor {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
}

#logoInt,
#menu,
#pie {
	display: none;
}

#contenedorImagen img {
	width: 100%;
	height: auto;
}

.contenidoInternoTurqueza .titulo {
	position: absolute;
	height: 30px;
	width: 100%;
	background-color: #49A6DC;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	top: 0px;
	left: 0px;
	padding: 5px;
	padding-left: 20px;
}

.contenidoInternoTurqueza {
	background: none;
	top: 0px;
}

.descripcionComo {
	text-align: left;
	width: 80%;
	margin: 0px;
}

.descripcionTexto {
	color: #000;
	padding-left: 10%;
	padding-bottom: 10%;
	padding-right: 10%;
	padding-top: 2%;
	height: 80%;
	overflow-y: auto;
}


.contenidoInterno, 
.contenidoInternoTurqueza, 
.contenidoInternoAmarillo, 
.contenidoInternoRosa, 
.contenidoInternoCeleste {
	position: inherit;
	display: table-row;
	width: 100%;
	height: auto;
	overflow: hidden;
	vertical-align: bottom;
}


#contenido {
	display: table;
	position: relative;
	padding-top: 35px;
}

#contenedorImagen {
	display: table-row;
	height: 40%;
	width: 100%;
	overflow: hidden;
}

.resaltado {
	color: #000;
}

.close-link {
	display: block;
	position: absolute;
	height: 30px;
	top: 5px;
	right: 20px;
	z-index: 200;
}

.close-link a {
	font-family: GothamRnd-Medium,helvetica,verdana,arial,sans-serif;
	font-size: 26px;
	text-decoration: none;
	color: #fff;
}